.beer {
  height: 80vh;
  margin-top: 100px;
  margin-bottom: 20px;
  h2 {
    padding: 10px;
    color: var(--black);
    font-family: "all-round-gothic", sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
  }

  h3 {
    color: var(--black);
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.beer-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  div {
    background-color: var(--black);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 0px 20px;
  }
}

.beer-mockup {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  margin: 0px 60px;
  div {
    background-color: var(--black);
    margin: 20px;
  }
}
