.beer {
  height: 80vh;
  margin-top: 100px;
  margin-bottom: 20px;
  h2 {
    padding: 10px;
    color: var(--black);
    font-family: "all-round-gothic", sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
  }

  h3 {
    color: var(--black);
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.beer-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  div {
    background-color: var(--black);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 0px 20px;
  }
}

.beer-mockup-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  margin: 0px 60px;
  .beer-mockup {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    margin: 20px;
    height: 28vw;
    width: 28vw;
  }
  // .beer-txt {
  //   display: flex;
  //   flex-direction: column;
  //   position: absolute;
  //   align-items: flex-end;
  //   :nth-child(1) {
  //     color: var(--yellow, #efc24c);
  //     font-size: 25px;
  //     font-weight: 800;
  //     display: none;
  //   }
  //   :nth-child(2) {
  //     color: var(--dark-red, #df6544);
  //     font-size: 22px;
  //     font-weight: 300;
  //     display: none;
  //   }
  // }

  // .beer-icon {
  //   position: absolute;
  //   bottom: -1756px;
  //   left: 405px;
  //   font-size: 22px;
  //   display: none;
  //   color: var(--white);
  // }
}

.beer-mockup:hover {
  width: 80vw;
  position: absolute;

  // .beer-txt {
  //   :nth-child(1) {
  //     display: block;
  //   }
  //   :nth-child(2) {
  //     display: block;
  //   }
  // }

  // .beer-icon {
  //   display: block;
  // }
}
