.button-b-wrapper {
  background: conic-gradient(
    from 179deg at 45.98% 56.48%,
    #efc24c 17deg,
    #e99b59 45deg,
    #df6544 90deg,
    #e471a8 135deg,
    #c04a84 180deg,
    #a6d2d3 225deg,
    #588da2 270deg,
    #927f28 323deg,
    #baaa41 332deg,
    #dec736 360deg
  );

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1rem;
  padding: 2.5px;
}

.button-b {
  padding: 10px 25px;
  background-color: var(--black);
  font-family: "all-round-gothic", sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.button-b:hover {
  color: var(--black);
  background-color: var(--white);
}

.button-b:active {
  background: conic-gradient(
    from 179deg at 45.98% 56.48%,
    #efc24c 17.1554933488369deg,
    #e99b59 45deg,
    #df6544 90deg,
    #e471a8 135deg,
    #c04a84 180deg,
    #a6d2d3 225deg,
    #588da2 270deg,
    #927f28 323.99999141693115deg,
    #baaa41 352.8000068664551deg,
    #e3d340 360deg
  );
}

// .button-b {
//   display: flex;
//   padding: 10px 25px;
//   justify-content: center;
//   align-items: center;
//   color: var(--white);
//   font-family: "all-round-gothic", sans-serif;
//   font-size: 20px;
//   text-transform: capitalize;
//   border: 2px solid var(--gradient, #efc24c);
// }
