.footer {
  display: flex;
  justify-content: space-around;
  color: var(--white);
  padding: 20px 0px;
  .img {
    width: 204px;
    height: 204px;
    background-color: var(--white);
    background-image: url("../img/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.footer-contact {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.footer-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
  height: 204px;

  h4 {
    font-weight: 800;

    :nth-child(1) {
      color: var(--yellow);
    }
    :nth-child(2) {
      color: var(--light-red);
    }
    :nth-child(3) {
      color: var(--dark-red);
    }
    :nth-child(4) {
      color: var(--dark-pink);
    }
    :nth-child(5) {
      color: var(--dark-blue);
    }
    :nth-child(6) {
      color: var(--light-green);
    }
    :nth-child(7) {
      color: var(--dark-green);
    }
  }
  p {
    line-height: 25px;
  }
  i {
    font-size: 25px;
    // margin-top: 10px;
  }
}

.footer-newsletter {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-newsletter-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  input {
    padding: 10px 25px;
    background-color: var(--white);
    color: var(--black, #26231d);
    font-size: 16px;
    border: none;
  }
}

::placeholder {
  // color: red;
  text-decoration: solid;
  text-decoration-line: underline;
}

.footer-mentions {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;

  :nth-child(1) {
    color: var(--yellow);
  }

  :nth-child(2) {
    color: var(--dark-pink);
    text-decoration-line: underline;
  }

  :nth-child(3) {
    color: var(--dark-blue);
    text-decoration-line: underline;
  }
}
