.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 2;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.05) -8.54%,
    rgba(0, 0, 0, 0.49) 100%
  );
  backdrop-filter: blur(10px);

  .navigation-container {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    padding: 10px;
  }

  img {
    height: 60px;
  }
}

.navigation-links {
  font-size: 17px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  text-transform: capitalize;

  :nth-child(1) {
    color: var(--yellow);
  }
  :nth-child(2) {
    color: var(--light-red);
  }
  :nth-child(3) {
    color: var(--dark-red);
  }
  :nth-child(4) {
    color: var(--light-pink);
  }
  :nth-child(5) {
    color: var(--light-blue);
  }
}

.navigation-icons {
  color: var(--white);
  font-size: 22px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  span {
    text-decoration-line: underline;
  }
}
