.restorant {
  height: 378px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px;

  h2 {
    color: var(--white, #fff7e7);
    font-family: "all-round-gothic", sans-serif;
    font-size: 48px;
    font-weight: 350;
    text-transform: capitalize;
    position: absolute;
  }

  p {
    width: 55vw;
    color: var(--white, #fff7e7);
    text-align: justify;
    font-size: 20px;
    font-weight: 800;
    margin: 100px;
  }
}
