/* ====================================
// css variables
// ==================================== */

:root {
  --white: #fff7e7;
  --black: #26231d;
  --yellow: #efc24c;
  --light-red: #e99b59;
  --dark-red: #df6544;
  --light-pink: #e471a8;
  --dark-pink: #c04a84;
  --light-blue: #a6d2d3;
  --dark-blue: #588da2;
  --light-green: #baaa41;
  --dark-green: #927f28;
}

/* ====================================
// reset rules

font-family: "all-round-gothic", sans-serif;


// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: var(--white);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  font-family: "Avenir", sans-serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

@font-face {
  font-family: "Avenir";
  src: url("../font/Avenir.ttc") format("truetype");
}
/* ====================================
// base rules
// ==================================== */
