.l-heading {
  height: 90vh;
}

.l-heading-bg {
  background: linear-gradient(
      0deg,
      rgba(53, 53, 53, 0.25) 0%,
      rgba(53, 53, 53, 0.25) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0) 30.5%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0.1) 100%),
    url("../img/bg-header.jpg") lightgray -12.509px -646.596px / 97.627% 200%
      no-repeat;
  background-size: cover;

  filter: blur(7.5px);
  width: 100vw;
  height: 100vh;
  z-index: -3;
  position: relative;
  top: -90px;
  left: 10px;
}

.l-text-bg-header {
  background-image: url("../img/text-bg-header.svg");
  height: 70vh;
  width: 100vw;
  z-index: -2;
  position: absolute;
  top: 115px;
  opacity: 0.85;
  mix-blend-mode: hard-light;
  background-size: 150%;
}

.l-header-filter {
  z-index: -1;
  position: absolute;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.14) 10%, rgba(0, 0, 0, 0) 30.5%),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 56%,
      rgba(255, 255, 255, 0.15) 100%
    );
  filter: blur(7px);
  height: 100vh;
  width: 100vw;
}

.l-mascot-black {
  width: 158px;
  height: 253px;
  position: absolute;
  top: 785px;
  left: 45vw;
}

.l-rainbow-bg {
  background: url(../img/rainbow-pattern.png) lightgray 0% 0% / 1px 92px repeat;
  width: 100vw;
  height: 92px;
  z-index: 2;
}

.l-rainbow-decoration {
  position: absolute;
  // top: 963px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  .l-rainbow-item-l {
    display: flex;
    margin-left: 20px;

    :nth-child(1) {
      width: 35px;
      height: 241px;
      margin: 0px 15px;
      border-radius: 0px 0px 30px 30px;
      background: var(--yellow, #efc24c);
    }
    :nth-child(2) {
      width: 35px;
      height: 356px;
      margin: 0px 15px;
      border-radius: 0px 0px 30px 30px;
      background: var(--light-red, #e99b59);
    }
    :nth-child(3) {
      width: 35px;
      height: 187px;
      margin: 0px 15px;
      border-radius: 0px 0px 30px 30px;
      background: var(--dark-red, #df6544);
    }
  }

  .l-rainbow-items-r {
    display: flex;
    margin-right: 20px;

    :nth-child(1) {
      width: 35px;
      height: 250px;
      margin: 0px 15px;
      border-radius: 0px 0px 30px 30px;
      background: var(--dark-pink, #c04a84);
    }
    :nth-child(2) {
      width: 35px;
      height: 356px;
      margin: 0px 15px;
      border-radius: 0px 0px 30px 30px;
      background: var(--dark-blue, #588da2);
    }
    :nth-child(3) {
      width: 35px;
      height: 151px;
      margin: 0px 15px;
      border-radius: 0px 0px 30px 30px;
      background: var(--dark-green, #927f28);
    }
  }
}

.l-brewery-bg {
  background-color: var(--black);
  height: 115vh;
  z-index: -2;
}

.l-beer-bg {
  background-color: var(--black);
  width: 20vw;
  height: 20vh;
}

.l-restorant-bg {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.27) 0%,
      rgba(0, 0, 0, 0.27) 100%
    ),
    url("../img/bg-restorant.jpg") lightgray 50% / cover no-repeat;
}

.l-footer-bg {
  background-color: var(--black);
  height: 35vh;
}

.l-footer-line {
  background-color: var(--white);
  height: 1px;
}
