.l-heading {
  height: 90vh;
}

.l-heading-bg {
  background: linear-gradient(
      0deg,
      rgba(53, 53, 53, 0.25) 0%,
      rgba(53, 53, 53, 0.25) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0) 30.5%),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 56%, rgba(0, 0, 0, 0.1) 100%),
    url("../img/bg-header.jpg") lightgray -12.509px -646.596px / 97.627% 200%
      no-repeat;
  background-size: cover;

  filter: blur(7.5px);
  height: 100vh;
  z-index: -1;
  position: relative;
  top: -90px;
  left: 10px;
}

.l-mascot-black {
  width: 158px;
  height: 253px;
  position: absolute;
  top: 785px;
  left: 45vw;
}

.l-rainbow-bg {
  background: url(../img/rainbow-pattern.png) lightgray 0% 0% / 1px 92px repeat;
  width: 100vw;
  height: 92px;
  z-index: 2;
}

.l-brewery-bg {
  background-color: var(--black);
  height: 100vh;
}

.l-restorant-bg {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.27) 0%,
      rgba(0, 0, 0, 0.27) 100%
    ),
    url("../img/bg-restorant.jpg") lightgray 50% / cover no-repeat;
}

.l-footer-bg {
  background-color: var(--black);
  height: 35vh;
}

.l-footer-line {
  background-color: var(--white);
  height: 1px;
}
